body {
    background-color: floralwhite;
}

img {
    width: 50%;
    display: block;
    margin: auto;
}

.index {
    text-align: center;
    font-weight: bold;
}

li {
    text-decoration: none;
    list-style: none;
    font-size: 24px;
}

.ProjecTile a{
    padding-left: 4px;
    color: red;
}